/* FONTS */
@font-face {
  font-weight: 400;
  src: url("../fonts/rubik-v23-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v23-latin-regular.woff") format("woff");
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
}
@font-face {
  font-weight: 500;
  src: url("../fonts/rubik-v23-latin-500.woff2") format("woff2"), url("../fonts/rubik-v23-latin-500.woff") format("woff");
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
}
@font-face {
  font-weight: 600;
  src: url("../fonts/rubik-v23-latin-600.woff2") format("woff2"), url("../fonts/rubik-v23-latin-600.woff") format("woff");
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
}
@font-face {
  font-weight: 700;
  src: url("../fonts/rubik-v23-latin-700.woff2") format("woff2"), url("../fonts/rubik-v23-latin-700.woff") format("woff");
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
}
/* CUSTOM PROPS */
:root {
  --primary-bg-color: #606eb1;
  --text-color: #000;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
}

/* SCROLL BAR */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding: 50px 0;
}

/* BUTTON */
.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

/* RETINA BGS */
/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
.site-header {
  padding: 20px 0;
  background-color: #fff;
}

/* LOGO */
.logo__img {
  max-width: 144px;
  width: 100%;
  height: auto;
}

/* TRACKS */
.tracks__title {
  text-align: center;
  font-size: 34px;
  margin-bottom: 20px;
}

.tracks-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.track-card {
  max-width: 250px;
  width: 100%;
  background-color: #fff;
}
.track-card:hover .button--play {
  transform: scale(1);
  opacity: 1;
}

.track-card__title {
  font-size: 18px;
}

.track-card__buttons {
  display: flex;
  position: relative;
  top: -70px;
  left: 10px;
}

/* BUTTON */
.button {
  border: none;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.button--play {
  padding-left: 18px;
  padding-right: 12px;
}

/* FOOTER */
.site-footer {
  background-color: #262d4e;
}/*# sourceMappingURL=main.css.map */