/* FONTS */
@font-face {
  font-weight: 400;
  src: url("../fonts/rubik-v23-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v23-latin-regular.woff") format("woff");
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
}
@font-face {
  font-weight: 500;
  src: url("../fonts/rubik-v23-latin-500.woff2") format("woff2"), url("../fonts/rubik-v23-latin-500.woff") format("woff");
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
}
@font-face {
  font-weight: 600;
  src: url("../fonts/rubik-v23-latin-600.woff2") format("woff2"), url("../fonts/rubik-v23-latin-600.woff") format("woff");
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
}
@font-face {
  font-weight: 700;
  src: url("../fonts/rubik-v23-latin-700.woff2") format("woff2"), url("../fonts/rubik-v23-latin-700.woff") format("woff");
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
}
/* CUSTOM PROPS */
:root {
  --primary-bg-color: #0b466e;
  --text-color: #000;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--primary-bg-color) url("../images/bg.jpg") no-repeat center/cover fixed;
  display: flex;
  flex-direction: column;
}

/* SCROLL BAR */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: #1093d1;
    border-radius: 10px;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #2ba0f7;
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding: 50px 0;
}

/* BUTTON */
.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

/* RETINA BGS */
/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
.site-header {
  padding: 20px 0;
  background-color: #fff;
  transition: padding 0.5s ease;
}
.site-header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.722);
  padding: 7px 0;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .site-header__inner {
    justify-content: center;
  }
}

/* LOGO */
.logo__img {
  max-width: 144px;
  width: 100%;
  height: auto;
}

/* SITENAV */
@media only screen and (max-width: 576px) {
  .sitenav {
    display: none;
  }
}

.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 35px;
  list-style-type: none;
}

.sitenav__link {
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

/* TRACKS */
.info-card:not(:last-child) {
  margin-bottom: 100px;
}

.info-card__title {
  text-align: center;
  font-size: 34px;
  margin-bottom: 20px;
  color: #fff;
}

.swiper {
  padding: 35px 15px;
  max-width: 1240px;
  width: 100%;
  overflow: hidden;
}

.info-card__wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* CARD OF INFO-CARD */
.info-card__card {
  max-width: 250px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #fff;
}
.info-card__card--podcast {
  max-width: 300px;
  height: auto;
}
.info-card__card:hover .button--play {
  transform: scale(1);
  opacity: 1;
}

.info-card__card-content {
  display: flex;
  flex-direction: column;
}

.info-card__card-title {
  font-size: 16px;
  margin-top: auto;
}

.info-card__card-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-right: auto;
}
.info-card__card-link::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background: no-repeat center/contain;
  background-image: url("../images/earphone.svg");
}

.info-card__card-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  -webkit-box-orient: vertical;
}

/* BUTTON */
.track-card__buttons {
  display: flex;
  position: relative;
  top: -70px;
  left: 10px;
}

/* BUTTON */
.button {
  border: none;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .button {
    transform: 1;
    opacity: 1;
  }
}
.button--play {
  padding-left: 18px;
  padding-right: 12px;
}

/* ARTIST */
.page:not(:last-child) {
  margin-bottom: 100px;
}

.page__wrapper {
  display: flex;
  justify-content: center;
}

/* FOOTER */
.site-footer {
  background-color: #262d4e;
}
@media only screen and (max-width: 576px) {
  .site-footer {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */