.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform .3s linear;

  &:hover {
    transform: scale(1.1);
  }

  &--play {
    padding-left: 18px;
    padding-right: 12px;
  }
  
  &--pause {
    display: none;
  }
}