/* FOOTER */
.site-footer {
  background-color: #262d4e;
}

.site-footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: $mobile) {
    flex-direction: column;
    padding-bottom: 10px;
  }
}

/* COPYRIGHT */
.copyright {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;

  @media only screen and (max-width: $tablet) {
    font-size: 19px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 17px;
  }
}

.copyright__link {
  text-decoration: none;
}
