/* TRACKS */
.info-card {
  &:not(:last-child) {
    margin-bottom: 100px;
  }
}
.info-card__title {
  @include for-title;
}

.swiper {
  padding: 35px 10px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.info-card__wrapper {
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* CARD OF INFO-CARD */
.info-card__card {
  max-width: 250px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #fff;

  &--podcast {
    max-width: 300px;
    height: auto;
  }

  &:hover .track-card__buttons {
    transform: scale(1);
    opacity: 1;
  }
}

.info-card__card-content {
  display: flex;
  flex-direction: column;
}

.info-card__card-title {
  font-size: 16px;
  margin-top: auto;
}

.info-card__card-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-right: auto;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background: no-repeat center / contain;
    background-image: url("../images/earphone.svg");
  }
}

.info-card__card-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  -webkit-box-orient: vertical;
}

.track-card__img-wrapper {
  position: relative;
}

/* BUTTON */
.track-card__buttons {
  display: flex;
  position: absolute;
  bottom: 20%;
  left: 10%;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  background-color: #fff;

  @media only screen and (max-width: $tablet) {
    transform: scale(1);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.45);
    opacity: 1;
    bottom: 25%;
    left: 15%;
  }
}

.button {
  border: none;
  background-color: transparent;
  padding: 15px;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  &--play {
    padding-left: 18px;
    padding-right: 12px;

    
    @media only screen and (max-width: $tablet) {
      padding-left: 17px;
      padding-right: 13px;
    }
  }

  &--pause {
    display: none;
  }

  svg {
    width: 24px;
    height: 24px;

    @media only screen and (max-width: $tablet) {
      width: 20px;
      height: 20px;
    }

    @media only screen and (max-width: $mobile) {
      width: 16px;
      height: 16px;
    }
  }
}
