/* TRACKS */
.info-card {
  &:not(:last-child) {
    margin-bottom: 100px;
  }
}
.info-card__title {
  @include for-title;
}

.swiper {
  padding: 35px 15px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.info-card__wrapper {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* CARD OF INFO-CARD */
.info-card__card {
  max-width: 250px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #fff;

  &--podcast {
    max-width: 300px;
    height: auto;
  }

  &:hover .track-card__buttons {
    transform: scale(1);
    opacity: 1;
  }
}

.info-card__card-content {
  display: flex;
  flex-direction: column;
}

.info-card__card-title {
  font-size: 16px;
  margin-top: auto;
}

.info-card__card-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-right: auto;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background: no-repeat center / contain;
    background-image: url("../images/earphone.svg");
  }
}

.info-card__card-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  -webkit-box-orient: vertical;
}

/* BUTTON */
.track-card__buttons {
  display: flex;
  position: relative;
  top: -70px;
  left: 10px;
  // transform: scale(0);
  // opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;

  @media only screen and (max-width: $tablet) {
    transform: scale(1);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.45);
    opacity: 1;
  }
}

/* BUTTON */
.button {
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;

  &--play {
    padding-left: 18px;
    padding-right: 12px;
  }

  &--pause {
    display: none;
  }
}
