/* TRACKS */
.info-card {
  &:not(:last-child) {
    margin-bottom: 100px;
  }
}
.info-card__title {
  @include for-title;
}

.swiper {
  padding: 15px;
  max-width: 1240px;
  width: 100%;
  overflow: hidden;
}

.info-card__wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* CARD OF INFO-CARD */
.info-card__card {
  max-width: 250px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #fff;

  &--podcast {
    max-width: 300px;
    height: auto;
  }

  &:hover .button--play {
    transform: scale(1);
    opacity: 1;
  }
}

.info-card__card-content {
  display: flex;
  flex-direction: column;
}

.info-card__card-title {
  font-size: 16px;
  margin-top: auto;
}

.info-card__card-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-right: auto;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background: no-repeat center / contain;
    background-image: url("../images/earphone.svg");
  }
}

.info-card__card-desc {
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 10; /* number of lines to show */
       line-clamp: 10; 
-webkit-box-orient: vertical;
}

/* BUTTON */
.track-card__buttons {
  display: flex;
  position: relative;
  top: -70px;
  left: 10px;
}

/* BUTTON */
.button {
  border: none;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;

  &--play {
    padding-left: 18px;
    padding-right: 12px;
  }
}
