/* TRACKS */
.info-card {
  &:not(:last-child) {
    margin-bottom: 100px;
  }
}
.info-card__title {
  @include for-title;
}

.info-card__wrapper {
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* CARD OF INFO-CARD */
.info-card__card {
  max-width: 250px;
  width: 100%;
  height: auto;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &--podcast {
    max-width: 300px;
    height: auto;
  }

  &:hover .track-card__buttons {
    transform: scale(1);
    opacity: 1;
  }
}

.info-card__card-content {
  display: flex;
  flex-direction: column;
}

.info-card__card-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-card__card-link {
  color: var(--link-color);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-right: auto;

  &:hover {
    color: var(--link-color);
    opacity: 0.8;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background: no-repeat center / contain;
    background-image: url("../images/earphone.svg");
  }
}

.info-card__card-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.track-card__img-wrapper {
  position: relative;
}

/* BUTTON */
.track-card__buttons {
  position: absolute;
  left: 10%;
  bottom: 1.4rem;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease, box-shadow 0.5s ease;

  @media only screen and (max-width: $tablet) {
    transform: scale(1);
    opacity: 1;
    left: 15%;
  }
}

.info-card__toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    width: 45px;
    height: 45px;

    &:last-child {
      display: none;
    }
  }

  &.playing {
    svg {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: inline-block;
      }
    }
  }
}
